body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mapboxgl-popup-content {
  position: relative;
  background: #bd2727;
  border-radius: 10px/10px;
  width: 5px;
  height: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  pointer-events: auto;
}

.active {
  color: green;
}

.place {
  display: inline-block;
}

/* Navbar */
.nav-container {
  margin-left: 2%;
  margin-right: 2%;
}

/* Map view*/

.map-view {
    display: inline-flex;
}

.map {
  width: 50%;
}

.add-place {
  width: 30%;
}

/* forms*/

form {
  margin: 20px;
}

/* grid */

.col {
  border: 1px solid black;
  height: 200px;
  margin: 3%;
  cursor: pointer;
}

.place-list {
  align: center;
}

.place-list a  {
  color: black;
}

.imgPreview img{
  width: 600px;

}
/* trips */
.add-trip-list {
  display: inline-flex;
  color: black;
}

.add-trip-list span {
  margin: 25px;
  color: black;
}

.trip-view .locator {
  width: 30%;
}

/* photo */

.photo {
  border: 1px solid black;
  width: 800px;
}
